.locateButton {
  background-color: var(--primary-color);
  color: var(--button_font_color);
  padding: var(--padding) 20px;
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-text);
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.locateButton:hover {
  background-color: var(--primary-hover);
  transform: translateY(-2px);
  border-radius: var(--border-radius-button);
}

/* 📌 RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .locateButton {
    width: var(--buttons-mobile);
    height: var(--buttons-mobile);
    border-radius: 50%; /* Botón redondo */
    font-size: 1.2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }
  .locateButton::after {
    font-size: 1.5rem;
  }
  .locateButton span {
    display: none; /* Oculta el texto en pantallas pequeñas */
  }
}
