.locateButton {
  background-color: var(--primary-color); /* Color primario global */
  color: white;
  padding: var(--padding) 20px; /* Usamos padding global */
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-text); /* Tamaño de fuente global */
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.locateButton:hover {
  background-color: var(--primary-hover); /* Color hover global */
  transform: translateY(-2px);
  border-radius: var(
    --border-radius-button
  ); /* Puedes agregar esto como variable si lo usarás en más lugares */
}
