.container {
  position: relative;
  display: flex;
  bottom: 0px;
  right: 0px;
  flex-direction: column;
  z-index: var(--z-index-controls); /* Variable para z-index */
  transition: height 0.3s ease;
}

.container.open {
  height: auto;
}

.dropdown {
  position: relative;
  margin-top: 5px;
  background-color: var(--secondary-color); /* Gris oscuro global */
  border: 1px solid #4a5568; /* Puedes crear una variable si usas este gris frecuentemente */
  border-radius: var(--border-radius); /* Usamos el borde redondeado global */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: var(--primary-color); /* Color primario global */
  color: var(--button_font_color);
  padding: var(--padding) 20px; /* Usamos padding global */
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-text); /* Tamaño de fuente global */
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: var(--primary-hover); /* Color hover global */
  transform: translateY(-2px);
  border-radius: var(--border-radius-button);
}

.option {
  padding: var(--padding) 20px;
  font-size: var(--font-size-text);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.option:hover {
  background-color: #4a5568; /* Podríamos definir esto como --hover-grey si se usa frecuentemente */
}
