.container {
  position: relative;
  display: flex;
  bottom: 0px;
  right: 0px;
  flex-direction: column; /* Asegura que los elementos dentro estén en una columna */
  z-index: 1000;
  transition: height 0.3s ease; /* Suave transición de altura */
}

.container.open {
  height: auto; /* Deja que el contenedor ajuste automáticamente su altura */
}

.dropdown {
  position: relative; /* Cambiamos de absolute a relative para que afecte el flujo */
  margin-top: 5px;
  background-color: #2d3748; /* Gris oscuro */
  border: 1px solid #4a5568; /* Gris intermedio */
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem; /* Tamaño de fuente consistente */
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Suave transición */
}

.button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); /* Efecto de elevación */
  border-radius: 25px;
}

.option {
  padding: 10px 20px;
  font-size: 1rem; /* Tamaño de fuente consistente */
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.option:hover {
  background-color: #4a5568; /* Gris intermedio */
}
