.sliderContainer {
  position: absolute;
  /* _______________________ */
  /* Left */
  bottom: 40%;
  left: 10px;
  /* _______________________ */

  width: 300px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 15px 10px;
  z-index: var(--z-index-controls);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}
.hourLabelRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.selectedHourInline {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
}

.sliderContainerMobile {
  background: var(--title-background);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(83, 82, 82, 0.3);
  color: #ffffff;
  z-index: var(--z-index-controls);
  position: absolute;
  bottom: 0;
  left: 1%;
  width: 100%; /* ✅ Ahora ocupa todo el ancho */
  left: 0;
  right: 0;
  padding: 10px 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.datePicker,
.hourSlider {
  width: 100%;
}

.datePicker label,
.hourSlider label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.datePicker input,
.hourSlider input {
  width: 100%;
  padding: 4px;
  font-size: 12px;
  border-radius: 4px;
  border: none;
}

.hourSlider input[type="range"] {
  accent-color: #ff4d4d;
}

.selectedHour {
  font-size: 12px;
  color: #ccc;
  text-align: center;
  margin-top: 3px;
  margin-bottom: -5px;
}

.submitButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: background 0.2s ease-in-out;
}

.submitButton:hover {
  background-color: #e60000;
}

/* Móvil */
@media (max-width: 768px) {
  .controls {
    flex-direction: row;
    gap: 20px;
  }

  .hourSlider input[type="range"] {
    width: 80%;
  }

  .submitButton {
    display: none;
  }
}
