.container {
  position: relative;
  display: inline-block;
  z-index: var(--z-index-controls); /* Z-index global para botones */
}

.button {
  background-color: var(--primary-color); /* Color primario global */
  color: white;
  padding: var(--padding) 20px; /* Padding global */
  border: none;
  border-radius: var(--border-radius); /* Bordes redondeados globales */
  font-size: var(--font-size-text); /* Tamaño de fuente global */
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  text-decoration: none; /* Elimina subrayado si es un enlace */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: var(--primary-hover); /* Color hover global */
  transform: translateY(-2px); /* Efecto de elevación */
  border-radius: var(--border-radius-button);
}

.button:active {
  background-color: #003f8c; /* Puedes crear una variable como --primary-active si lo usarás en más sitios */
  transform: translateY(1px); /* Disminuye el efecto de elevación */
}

.button:disabled {
  background-color: #c0c0c0; /* Podrías definir como --disabled-bg si lo usarás en más partes */
  color: var(--secondary-color); /* Gris oscuro global */
  cursor: not-allowed;
  transform: none;
}
