.gaugeContainer {
  z-index: var(--z-index-controls);
  display: flex;

  flex-direction: column;
  align-items: center;

  position: absolute;
  bottom: 0%;
  left: 1%;
  /* transform: translateX(-50%); */
  width: 730px;
  height: 30vh;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  padding-right: 25px;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 20px;

  text-align: center;
}
.gaugeWrapper {
  width: 100%;
  height: 100%;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

/* 🔹 Contenedor en DOS COLUMNAS */
.contentWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between; /* Separa Gauge y Tabla */
  align-items: center;
  gap: 5px;
}

/* 🔹 Sección Gauge */
.gaugeSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* ✅ necesario para que el hijo tenga espacio */
}

/* 🔹 Sección Tabla */
.tableSection {
  flex: 1; /* Toma la otra mitad del espacio */
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
}

/* 🔹 Estilos de la Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid white;
  color: white;
}

@media (max-width: 768px) {
  .gaugeContainer {
    width: 100%;
    height: 27%;
  }
  .closeButton {
    position: absolute;
    top: 10px;
    right: 6%;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  .contentWrapper {
    flex-direction: column;
    align-items: center;
  }

  .tableSection {
    /* width: 100%; Ocupa el ancho total */
    display: none;
  }
}
