.scaleBar {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  padding: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 📏 Contenedor del texto (millas arriba, km abajo) */
.scaleTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4px;
}

.scaleText {
  font-size: var(--font-size-text);
  color: var(--text-color);
  text-align: center;
  font-weight: bold;
}

/* 📏 Línea de escala con las marcas en los extremos */
.scaleLineContainer {
  display: flex;
  align-items: center;
  position: relative;
}

/* 📏 Líneas verticales en los extremos */
.scaleEndLine {
  width: 2px;
  height: 12px;
  background-color: var(--primary-color);
}

/* 📏 Línea principal de la escala */
.scaleLine {
  height: 4px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

@media (max-width: 768px) {
  .scaleBar {
    bottom: 115px;
  }
}
