.mapContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.controlPanel {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: var(--z-index-controls); /* Z-index global para los controles */
  display: flex;
  flex-direction: column;
  gap: var(--gap); /* Espacio global entre los botones */
  background: rgba(
    255,
    255,
    255,
    0.8
  ); /* Puedes definir como --control-bg si se usa frecuentemente */
  padding: var(--padding); /* Padding global */
  border-radius: var(--border-radius); /* Bordes redondeados globales */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--font-size-title); /* Tamaño de fuente global para títulos */
  font-weight: bold;
  color: #ffffff;
  background: var(
    --title-background
  ); /* Fondo semitransparente global para el título */
  padding: var(--padding) 20px; /* Padding global con ajuste lateral */
  border-radius: var(--border-radius); /* Bordes redondeados globales */
  z-index: var(--z-index-title); /* Z-index global para el título */
  box-shadow: 0 4px 6px rgba(83, 82, 82, 0.3);
}
