.mapContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.controlPanel {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: var(--z-index-controls); /* Z-index global para los controles */
  display: flex;
  flex-direction: column;
  gap: var(--gap); /* Espacio global entre los botones */
  background: rgba(
    255,
    255,
    255,
    0.8
  ); /* Puedes definir como --control-bg si se usa frecuentemente */
  padding: var(--padding); /* Padding global */
  border-radius: var(--border-radius); /* Bordes redondeados globales */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.titleContainer {
  position: absolute; /* Solo el contenedor se posiciona en la parte superior */
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; /* Centra el contenido horizontalmente */
  background: var(--title-background);
  padding: var(--padding) 20px;
  border-radius: var(--border-radius);
  z-index: var(--z-index-title);
  box-shadow: 0 4px 6px rgba(83, 82, 82, 0.3);
}

/* 🎨 Título Principal */
.title {
  font-size: var(--font-size-title);
  color: #ffffff;
  margin: 0; /* Elimina márgenes para un ajuste más preciso */
}

/* 🎨 Subtítulo */
.subtitle {
  font-size: var(--font-size-subtitle);
  color: #ffffff;
  margin: 5px 0 0 0; /* Espacio entre el título y el subtítulo */
}
